<div id="<%= dom_id navbar %>">
  <p>
    <strong>Id:</strong>
    <%= navbar.id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= navbar.label %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= navbar.url %>
  </p>

</div>
