<p style="color: green"><%= notice %></p>

<h1>Navbars</h1>

<div id="navbars">
  <% @navbars.each do |navbar| %>
    <%= render navbar %>
    <p>
      <%= link_to "Show this navbar", navbar %>
    </p>
  <% end %>
</div>

<%= link_to "New navbar", new_navbar_path %>
